<%- include('header') %>
    <h2>This is about me page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nam illum et at iste quas dignissimos vitae aut eius dolor</p>

    <%- include('footer') %>